{
    "plugins": [
        ["@babel/transform-runtime", {"corejs": 2}],
        "transform-undefined-to-void"
    ],
    "env": {
        "build": {
            "presets": [
                ["@babel/env", {"debug": true}]
            ]
        },
        "document": {
            "presets": [
                ["@babel/env", {"debug": false}]
            ]
        },
        "test": {
            "presets": [
                ["@babel/env", {"debug": false}]
            ]
        },
        "lint": {
            "presets": [
                ["@babel/env", {"debug": false}]
            ]
        }
    }
}
